<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Time Clock</h1>
    <p class="lead">A fully featured time clock for small businesses.</p>
    <img src="assets/images/clock_logo.png" alt="Logo">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Why Time Clock?</h1>
      <p class="copy-text">Time clock is robust, fast, and secure.</p>
    </div>
  </div>

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form> -->
</div>
