.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: black;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #51BD5F;

  p{
    font-style: italic;
  }
}

.navbar-text {
  margin-left: 15px;
}

.page-header{
  text-align: center;
}

.copy-text{
  text-align: center;
}
