<div class="container">
  <div class="dash-menu">
    <h2>Hi {{ dash.getCurrentUser().name }}!</h2>
    <h3>Today is {{dash.date | date}}</h3>
    <!-- <p ng-hide="dash.hasLogged">Today you have logged {{dash.getCurrentUser().last_punch | date}} hours</p> -->
    <button class="btn btn-primary btn-lg" ng-click=dash.toggle()>{{dash.buttonText}}</button>

    <!-- <p ng-hide="dash.hasLogged"> You have worked a total of: {{dash.time_logged}} today. </p> -->
    <p ng-show="dash.hasLogged" id="logged"> You have worked a total of: {{dash.time_logged}} seconds today. </p>

  </div>
</div>
